<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	{% load staticfiles %}
	

    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
	<link href="{% static 'bootstrap/css/carousel.css' %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">The U Library</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
				  <li class="active"><a href="/">Home</a></li>
				  {% if not logged_in%}
                <li><a href="/sign_in">Sign In</a></li>
				<li><a href="/sign_up">Sign Up</a></li>
				{% else %}
				<li><a href="#">{{username}}</a></li>
				<li><a href="/logout">Logout</a></li>
				{% endif %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Start <b class="caret"></b></a>
                  <ul class="dropdown-menu">
					  {% block menu %} {% endblock %}
				                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

	<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{STATIC_URL}}images/books/library7.jpg" />
          <div class="container">
            <div class="carousel-caption">
              <h1>The U Library</h1>
			  <p> Borrow, read and study at the U Library. Our staff will help you find the books you need. Come talk to one of us today!</p>
              <p><a class="btn btn-lg btn-primary" href="/sign_up" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
			<img src="{{STATIC_URL}}images/books/library.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>The U Library</h1>
			  <p>The U Library is located at the U university in the beautiful city of Vancouver. We are currently hiring full time librarians and summer librarian assistants.</p>
              <p><a class="btn btn-lg btn-primary" href="" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
			<img src="{{STATIC_URL}}images/books/library4.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>The U Library</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div class="container marketing">
	  <div class="row">


	{% block content %} {%endblock%}
     

     </div>   
	  

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 The U Library &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap/assets/js/docs.min.js' %}"></script>
  </body>
</html>
<!--images from: http://alkylphenol.org/Images/library.jpg and http://www.tcd.ie/wiser/research-policy/library/library.jpg and http://bookriotcom.c.presscdn.com/wp-content/uploads/2013/04/Stockholm-Public-Library-Interior-2.jpg -->
